body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f0f0f0;
}

.frame {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #e0ddb2;
  border-radius: 10px;
  overflow: hidden;
}

.rectangle-white-left {
  position: absolute;
  width: 884px;
  height: 958px;
  left: 76px;
  top: 79px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 25px;
}

.rectangle-left-top {
  position: absolute;
  width: 280px;
  height: 216px;
  left: 203px;
  top: 540px;
  background: #bcb28c;
  border: 1px solid #000;
  border-radius: 25px;
}

.rectangle-left-bottom {
  position: absolute;
  width: 280px;
  height: 216px;
  left: 203px;
  top: 780px;
  background: #8c6160;
  border: 1px solid #000;
  border-radius: 25px;
}

.rectangle-middle-top {
  position: absolute;
  width: 280px;
  height: 216px;
  left: 553px;
  top: 540px;
  background: #73608c;
  border: 1px solid #000;
  border-radius: 25px;
}

.rectangle-middle-bottom {
  position: absolute;
  width: 280px;
  height: 216px;
  left: 553px;
  top: 780px;
  background: #8ca6bc;
  border: 1px solid #000;
  border-radius: 25px;
}

.text-large {
  position: absolute;
  font-family: "KyivType Sans", sans-serif;
  font-weight: 200;
  font-size: 84px;
  line-height: 101px;
  color: #000;
}

.text-sf {
  left: 234px;
  top: 255px;
  width: 559px;
  height: 101px;
}

.text-temp {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  color: #000;
  left: 323px;
  top: 382px;
  width: 390px;
  height: 131px;
}
/* Labels inside weather boxes */
.label-high,
.label-low,
.label-wind,
.label-humidity {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

/* Values inside weather boxes */
.value-high,
.value-low,
.value-wind,
.value-humidity {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
}

/* High temperature */
.label-high {
  left: 79px;
  top: 4px;
}
.value-high {
  left: 77px;
  top: 86px;
}

/* Low temperature */
.label-low {
  left: 98px;
  top: 5px;
}
.value-low {
  left: 80px;
  top: 81px;
}

/* Wind */
.label-wind {
  left: 70px;
  top: 0px;
}
.value-wind {
  left: 70px;
  top: 82px;
}

/* Humidity */
.label-humidity {
  left: 16px;
  top: 0px;
}
.value-humidity {
  left: 100px;
  top: 82px;
}

.rectangle-right {
  position: absolute;
  width: 707px;
  height: 958px;
  left: 1092px;
  top: 79px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 25px;
}

.search-box {
  position: absolute;
  width: 299px;
  height: 63px;
  left: 1296px;
  top: 106px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 15px;
  padding-left: 18px;
  font-size: 40px;
  line-height: 48px;
  color: #000;
}

.forecast-title {
  position: absolute;
  width: 358px;
  height: 73px;
  left: 1267px;
  top: 283px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #000;
}

.forecast-rect {
  position: absolute;
  width: 380px;
  height: 92px;
  left: 1256px;
  border: 1px solid #000;
  border-radius: 25px;
}

.forecast-container {
  position: absolute;
  left: 1256px; /* matches Figma frame */
  top: 382px;
  display: flex;
  flex-direction: column;
  gap: 18px; /* spacing between rectangles */
}

/* Each day rectangle */
.forecast-day {
  width: 380px;
  height: 92px;
  border-radius: 25px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Different background colors for each day */
.forecast-day.monday { background: #FFBFBF; }
.forecast-day.tuesday { background: #FFE8D2; }
.forecast-day.wednesday { background: #FEFFD3; }
.forecast-day.thursday { background: #D9FFBA; }
.forecast-day.friday { background: #A9E5FB; }

/* Day name */
.day-name {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #000;
  text-align: center;
}

/* Hi and Lo temperatures */
.hi, .lo {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000;
}



.iconWeather,
.iconHighTemp,
.iconLowTemp,
.iconWind,
.iconHumidity {
  position: absolute;
  width: auto;
  height: auto;
}

.iconWeather {
  left: 20.78%;
  top: calc(50% - 134px / 2 - 365px);
  height: 235px;
}

.iconHighTemp {
  left: 20.1%;
  top: calc(50% - 36px / 2 + 34px);
  height: 45px;
}

.iconLowTemp {
  left: 38.12%;
  top: calc(50% - 36px / 2 + 35px);
  height: 45px;
}

.iconWind {
  left: 20.1%;
  top: calc(50% + 250px);
  height: 50px;
}

.iconHumidity {
  left: 39.12%;
  top: calc(50% + 250px);
  height: 44px;
}

.iconStar {
  position: absolute;
  left: 721px;
  top: 241px;
  width: 60px;
  height: 60px;
}
